#home{
    padding-top: 10px;
    color: black;
    text-shadow: 2px 2px greenyellow;
}
    img{
        height: 280px;
    }
    .card-body{
        background-color:aquamarine;
        text-align: center;
        color:fuchsia;
    }
    
    .card{
        padding-top: 0px;
        display: inline-flex;
        background-color:darkslategrey;
        transition: transform .2s;
        margin: 33px;
        margin-left: 40px;
    }
    .card:hover {
        transform: scale(1.1) 
      }

    #hpara{
        margin-top:20px;
        margin-left: 20px;
        margin-right: 20px;
    }
