.form-control{
    width: 400px;
    border: 2px solid indianred;
}
form{
    border:greenyellow solid 2px;
    padding: 40px;
    margin-top: 10px;
    margin-left: 380px;
    margin-right: 485px;
    color: black;
    font-weight: 600;
}
.btn
{
    margin-top: 15px;
    margin-left: 150px ;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
h1{
    margin-left: 500px;
    margin-bottom: 30px;
    /* text-align: center; */
    color:orangered;
    text-shadow: 2px 2px greenyellow;
}
.link{
    color: green;
    text-decoration: underline;
    padding-left: 150px;
    font-weight: 500;
}