
.showimg{
width: 82%;
height: 82%;
margin-left: 8%;
margin-top: 5%;
}
#c1{
margin-top: 5%;
border: none;
background-color:aqua;
}
#block{
border: 2px solid yellow;
width: 50%;
height: 50%;
} 
  .nav-item7{
      padding-left: 800px;
  }
#c2{
    height: 430px;
    width: 300px;
    background-color: springgreen;
    
}